/*NAVEGACION*/

/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
}
/*--------------------------------------------------------------------------*/

 

/*<ul> </ul>  o  <ul class="nombre"></ul>*/

/* En general */
.contenedor{width: 100%;margin-right: auto; margin-left: auto;}
.clear { clear:both}
/* fin general */


/* header */
header .superior{background-color: #ffffff;width:100%;padding-top:10px;padding-bottom:10px;}
header .superior div.logo{ float:left;padding-left:10px; }
header .superior div.bienvenido{ float:left;padding-left:10px; }
.logo img{width: 207px;height:58px}
header .superior div.fecha{float:right;padding-right:10px;}
header .superior div.fecha div{padding-top:20px;padding-bottom:20px;}
.navegacionmobil{display: none;}


.nav{text-align:center; float:left; width:16.5%}
.nav a{width:100%; display: block;  line-height: 50px;color:#ffffff; border-right: 1px solid #00487f;border-left: 1px solid #00487f}
/* fin header */

/* imagen slider */
.imagenslider{width:100%;}
.imagenslider img{width: 100%; height:auto}
/* fin imagen slider */

/* principal */
.principal{background-color: #dbe3e8; padding-left:10px;padding-right:10px;}
    /* articulos */
    .articulos{margin-bottom: 10px;}
    .artic{float:left;width:33.333333%;text-align: center;margin-bottom: 5px;}
    .artic img{width: 140px;height:140px}
    .artic h2{margin-bottom:5px}
    .artic p.texto{margin-bottom:10px;margin-left:10px;margin-right:10px}
    
    .artic div.boton{ margin-top:10px;margin-bottom:10px;}
    .artic div.boton a{ margin-top:10px;margin-bottom:10px;color: #fff; background-color: #6c757d; border-color: #6c757d; padding: 6px 10px; font-size: 14px;}    
    /* fin articulos */

    /* noticias */
    .noticias{margin-bottom: 10px;}
    .noticias div.titulo{padding-top:5px;padding-bottom:5px;}
    .noticias div.not{width:100%;background-color: #b5d7ec;margin-bottom:10px;}

    .noticias div.not div.laimagen{float:left;background-color: red;width:20%; }
    .noticias div.not div.laimagen img{width: 100%;height:auto; }
    .noticias div.not .elcontenido{float:left;background-color: #b5d7ec;width:80%;}
    .noticias div.not .elcontenido div{padding-left:10px;}
    .noticias div.not .elcontenido div h2{margin-bottom: 10px;margin-top: 10px;}
    .noticias div.not .elcontenido div p.fecha{margin-bottom: 10px;}
    .noticias div.not .elcontenido div p.parrafo{margin-bottom: 18px;}    
    /* fin noticias */

    /* testimonios */
    .testimonios{width:100%;background-color: #b5d7ec;margin-bottom:10px;}
    .testimonios div.titulo{padding-top:5px;padding-bottom:5px;}
    .testimonios div.testim-contenido{float:left;width:25%;}
    .testimonios div.testim-contenido div.testim-margen{margin-right: 20px;}
    .testimonios div.testim-contenido div.testim-margen img{width: 100%;height:auto;}
    .testimonios div.testim-contenido div.testim-margen .testim-titulo{padding-top:5px;padding-bottom:5px;}
    /* fin testimonios */

    /* footer */
    .footer{padding: 10px;background-color: #053552;margin-right: -10px;margin-left: -10px;}
    .footer .imagen{ float:left;}
    .footer .imagen img{width:40%;}
    .footer .direccion{ float:right; margin-top:30px;color:#ffffff;}
    /* fin footer */

/*--------------------------------------------------------------------------*/


.navegacion{width:100%;background-color: #0b6ca7;display:block; position: relative;}
.navegacion ul{list-style: none;}



#menu1{
    position: absolute;
    top: 50px;
    left: 130px;
    background-color: #dae4de;
    width: 170px;
    display: none;
}

#dos{
    display: none;
}


/*FIN NAVEGACION*/



#Formulario123{
    position:absolute; 
    top:220px; 
    right:20px; 
    background-color: bisque;
    width: 200px; height: 100px;
    display: none;
}


#sesion{
    float:right;
    background-color:#5bbd7d;
    color:#032d29
}


#sesion1{
    float:right;
    background-color:#5bbd7d;
    color:#032d29;
    display: none;
}
/*--------------------------------------------------------------------------*/

* {box-sizing: border-box}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}





/*--------------slider de img*/
* {box-sizing: border-box}
body {font-family: sans-serif; margin:0}    

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*--------- FIN slider de img*/


/*FORMULARIO*/
.Formulario{
  background-color:#e4e1e1; width: 80%;margin-left: auto;margin-right: auto; padding-left:30px; padding-right:30px;padding-top: 20px;
  padding-bottom: 20px;
}

.nombre{
  float:left; padding-left:50px; padding-right:50px;width: 200px;padding-top: 5px;
  padding-bottom: 5px; text-align: left;
}

.textnombre{
  float:left;width:290px; text-align:left;padding-top: 5px;
  padding-bottom: 5px;
}

/*FIN FORMULARIO*/




/*------------------MEDIA_QUERY(RESPONSE)-------------------------------------*/
@media (max-width: 579px) {/* de 0 a 580 -> MOVIL */
  .prueba {color:red;}

  .artic {
    width: 100%;
  }

  .testimonios div.testim-contenido{width:100%;}

  .noticias div.not div.laimagen {
    width: 100%;
  }

  .noticias div.not .elcontenido {
    width: 100%;
  }

  .navegacion {
    display: none;
  }

  


}
@media (min-width:580px){ /* mayores a 580*/
    .contenedor{
     width: 550px;     
    }

    .prueba {color:#00487f;}
   
}
@media (min-width:680px){
     .contenedor{
     width: 650px;     
    }

    .prueba {color:green;}
   }
   
   @media (min-width:920px){
     .contenedor{
     width: 890px;
     
    }
   }
   
   @media (min-width:1200px){ /* mayor a 1200px */
     .contenedor{
     width: 1100px;
     
    }
   }
/*-------------------------------------------------------*/


