



body {
    margin: 0;
  }
  
  *{
    box-sizing: border-box;
  }
  
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .row-no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  .row-no-gutters [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
  .col-xs-pull-12 {
    right: 100%;
  }
  .col-xs-pull-11 {
    right: 91.66666667%;
  }
  .col-xs-pull-10 {
    right: 83.33333333%;
  }
  .col-xs-pull-9 {
    right: 75%;
  }
  .col-xs-pull-8 {
    right: 66.66666667%;
  }
  .col-xs-pull-7 {
    right: 58.33333333%;
  }
  .col-xs-pull-6 {
    right: 50%;
  }
  .col-xs-pull-5 {
    right: 41.66666667%;
  }
  .col-xs-pull-4 {
    right: 33.33333333%;
  }
  .col-xs-pull-3 {
    right: 25%;
  }
  .col-xs-pull-2 {
    right: 16.66666667%;
  }
  .col-xs-pull-1 {
    right: 8.33333333%;
  }
  .col-xs-pull-0 {
    right: auto;
  }
  .col-xs-push-12 {
    left: 100%;
  }
  .col-xs-push-11 {
    left: 91.66666667%;
  }
  .col-xs-push-10 {
    left: 83.33333333%;
  }
  .col-xs-push-9 {
    left: 75%;
  }
  .col-xs-push-8 {
    left: 66.66666667%;
  }
  .col-xs-push-7 {
    left: 58.33333333%;
  }
  .col-xs-push-6 {
    left: 50%;
  }
  .col-xs-push-5 {
    left: 41.66666667%;
  }
  .col-xs-push-4 {
    left: 33.33333333%;
  }
  .col-xs-push-3 {
    left: 25%;
  }
  .col-xs-push-2 {
    left: 16.66666667%;
  }
  .col-xs-push-1 {
    left: 8.33333333%;
  }
  .col-xs-push-0 {
    left: auto;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xs-offset-0 {
    margin-left: 0%;
  }
  @media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
    .col-sm-12 {
      width: 100%;
    }
    .col-sm-11 {
      width: 91.66666667%;
    }
    .col-sm-10 {
      width: 83.33333333%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-8 {
      width: 66.66666667%;
    }
    .col-sm-7 {
      width: 58.33333333%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-5 {
      width: 41.66666667%;
    }
    .col-sm-4 {
      width: 33.33333333%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-2 {
      width: 16.66666667%;
    }
    .col-sm-1 {
      width: 8.33333333%;
    }
    .col-sm-pull-12 {
      right: 100%;
    }
    .col-sm-pull-11 {
      right: 91.66666667%;
    }
    .col-sm-pull-10 {
      right: 83.33333333%;
    }
    .col-sm-pull-9 {
      right: 75%;
    }
    .col-sm-pull-8 {
      right: 66.66666667%;
    }
    .col-sm-pull-7 {
      right: 58.33333333%;
    }
    .col-sm-pull-6 {
      right: 50%;
    }
    .col-sm-pull-5 {
      right: 41.66666667%;
    }
    .col-sm-pull-4 {
      right: 33.33333333%;
    }
    .col-sm-pull-3 {
      right: 25%;
    }
    .col-sm-pull-2 {
      right: 16.66666667%;
    }
    .col-sm-pull-1 {
      right: 8.33333333%;
    }
    .col-sm-pull-0 {
      right: auto;
    }
    .col-sm-push-12 {
      left: 100%;
    }
    .col-sm-push-11 {
      left: 91.66666667%;
    }
    .col-sm-push-10 {
      left: 83.33333333%;
    }
    .col-sm-push-9 {
      left: 75%;
    }
    .col-sm-push-8 {
      left: 66.66666667%;
    }
    .col-sm-push-7 {
      left: 58.33333333%;
    }
    .col-sm-push-6 {
      left: 50%;
    }
    .col-sm-push-5 {
      left: 41.66666667%;
    }
    .col-sm-push-4 {
      left: 33.33333333%;
    }
    .col-sm-push-3 {
      left: 25%;
    }
    .col-sm-push-2 {
      left: 16.66666667%;
    }
    .col-sm-push-1 {
      left: 8.33333333%;
    }
    .col-sm-push-0 {
      left: auto;
    }
    .col-sm-offset-12 {
      margin-left: 100%;
    }
    .col-sm-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
      margin-left: 75%;
    }
    .col-sm-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
      margin-left: 50%;
    }
    .col-sm-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
      margin-left: 25%;
    }
    .col-sm-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
      margin-left: 0%;
    }
  }
  @media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-12 {
      width: 100%;
    }
    .col-md-11 {
      width: 91.66666667%;
    }
    .col-md-10 {
      width: 83.33333333%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-8 {
      width: 66.66666667%;
    }
    .col-md-7 {
      width: 58.33333333%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-5 {
      width: 41.66666667%;
    }
    .col-md-4 {
      width: 33.33333333%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-2 {
      width: 16.66666667%;
    }
    .col-md-1 {
      width: 8.33333333%;
    }
    .col-md-pull-12 {
      right: 100%;
    }
    .col-md-pull-11 {
      right: 91.66666667%;
    }
    .col-md-pull-10 {
      right: 83.33333333%;
    }
    .col-md-pull-9 {
      right: 75%;
    }
    .col-md-pull-8 {
      right: 66.66666667%;
    }
    .col-md-pull-7 {
      right: 58.33333333%;
    }
    .col-md-pull-6 {
      right: 50%;
    }
    .col-md-pull-5 {
      right: 41.66666667%;
    }
    .col-md-pull-4 {
      right: 33.33333333%;
    }
    .col-md-pull-3 {
      right: 25%;
    }
    .col-md-pull-2 {
      right: 16.66666667%;
    }
    .col-md-pull-1 {
      right: 8.33333333%;
    }
    .col-md-pull-0 {
      right: auto;
    }
    .col-md-push-12 {
      left: 100%;
    }
    .col-md-push-11 {
      left: 91.66666667%;
    }
    .col-md-push-10 {
      left: 83.33333333%;
    }
    .col-md-push-9 {
      left: 75%;
    }
    .col-md-push-8 {
      left: 66.66666667%;
    }
    .col-md-push-7 {
      left: 58.33333333%;
    }
    .col-md-push-6 {
      left: 50%;
    }
    .col-md-push-5 {
      left: 41.66666667%;
    }
    .col-md-push-4 {
      left: 33.33333333%;
    }
    .col-md-push-3 {
      left: 25%;
    }
    .col-md-push-2 {
      left: 16.66666667%;
    }
    .col-md-push-1 {
      left: 8.33333333%;
    }
    .col-md-push-0 {
      left: auto;
    }
    .col-md-offset-12 {
      margin-left: 100%;
    }
    .col-md-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
      margin-left: 75%;
    }
    .col-md-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
      margin-left: 50%;
    }
    .col-md-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
      margin-left: 25%;
    }
    .col-md-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
      margin-left: 0%;
    }
  }
  @media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-lg-12 {
      width: 100%;
    }
    .col-lg-11 {
      width: 91.66666667%;
    }
    .col-lg-10 {
      width: 83.33333333%;
    }
    .col-lg-9 {
      width: 75%;
    }
    .col-lg-8 {
      width: 66.66666667%;
    }
    .col-lg-7 {
      width: 58.33333333%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-5 {
      width: 41.66666667%;
    }
    .col-lg-4 {
      width: 33.33333333%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-2 {
      width: 16.66666667%;
    }
    .col-lg-1 {
      width: 8.33333333%;
    }
    .col-lg-pull-12 {
      right: 100%;
    }
    .col-lg-pull-11 {
      right: 91.66666667%;
    }
    .col-lg-pull-10 {
      right: 83.33333333%;
    }
    .col-lg-pull-9 {
      right: 75%;
    }
    .col-lg-pull-8 {
      right: 66.66666667%;
    }
    .col-lg-pull-7 {
      right: 58.33333333%;
    }
    .col-lg-pull-6 {
      right: 50%;
    }
    .col-lg-pull-5 {
      right: 41.66666667%;
    }
    .col-lg-pull-4 {
      right: 33.33333333%;
    }
    .col-lg-pull-3 {
      right: 25%;
    }
    .col-lg-pull-2 {
      right: 16.66666667%;
    }
    .col-lg-pull-1 {
      right: 8.33333333%;
    }
    .col-lg-pull-0 {
      right: auto;
    }
    .col-lg-push-12 {
      left: 100%;
    }
    .col-lg-push-11 {
      left: 91.66666667%;
    }
    .col-lg-push-10 {
      left: 83.33333333%;
    }
    .col-lg-push-9 {
      left: 75%;
    }
    .col-lg-push-8 {
      left: 66.66666667%;
    }
    .col-lg-push-7 {
      left: 58.33333333%;
    }
    .col-lg-push-6 {
      left: 50%;
    }
    .col-lg-push-5 {
      left: 41.66666667%;
    }
    .col-lg-push-4 {
      left: 33.33333333%;
    }
    .col-lg-push-3 {
      left: 25%;
    }
    .col-lg-push-2 {
      left: 16.66666667%;
    }
    .col-lg-push-1 {
      left: 8.33333333%;
    }
    .col-lg-push-0 {
      left: auto;
    }
    .col-lg-offset-12 {
      margin-left: 100%;
    }
    .col-lg-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
      margin-left: 75%;
    }
    .col-lg-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
      margin-left: 50%;
    }
    .col-lg-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
      margin-left: 25%;
    }
    .col-lg-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
      margin-left: 0%;
    }
  }
  
  .clearfix:before,
    .clearfix:after,
    .container:before,
    .container:after,
    .container-fluid:before,
    .container-fluid:after,
    .row:before,
    .row:after {
      display: table;
      content: " ";
    }
    .clearfix:after,
    .container:after,
    .container-fluid:after,
    .row:after {
      clear: both;
    }
  
  
  /*-----------------------------------------------------------------------------------*/
  
  /*MIS PROPIOS ESTILOS DE LA PAG*/
  
  
  #arriba{
    padding-top:1%;
      padding-bottom:1%;
  }
  .uno{
      text-decoration:none;
      padding-left:3%;
      color:#333;
  }
  
  
  
  .med{
    float:left;
    width:45%;
  }
  .dos{
    padding-top: 10%;
  }
  .med-caja{
      padding-top: 4%;
  }
  .texto{
      width:121%; padding-top:5%; padding-bottom:5%; padding-left:5%;
  }
  
  
  
  .med-dos{
    float:left;
    width:33%;
    padding-top: 5%;
    padding-left: 6%;
  }
  .dos-icon{
      padding-left:40%;
      text-decoration:none;
  }
  .icon{
      text-align:center;
    color:#666;
    margin: 0;
  }
  
  
  
  .med-tres{
    float:left;
    padding-top: 3%;
    width: 49%;
  }
  #boton1{
  border-radius:8px 8px 8px 8px;
  color:#FFF;
  background-color:#F00;
  padding-top:8%;
  padding-bottom:8%;
  padding-left:20%;
  padding-right:20%;
  }	
  #boton2{
  border-radius:8px 8px 8px 8px;
  color:#F00;
  background-color:#FFF;
  padding-top:8%;
  padding-bottom:8%;
  padding-left:15%;
  padding-right:15%;
  }
  
  
  
  #abajo{
    padding-top:1%;
      padding-bottom:1%;
  }
  .abaj-ahorro{
    text-decoration:none;	
    color: #333; 
    padding-left: 3%;
  }
  .abaj-tarjeta{
    text-decoration:none;	
    color: #333; 
    padding-left: 20%;
  }
  .abaj-prestamo{
    text-decoration:none;	
    color: #333; 
    padding-left: 20%;
  }
  
  .abaj-deposito{
    text-decoration:none;	
    color: #333; 
    padding-left: 3%;
  }
  .abaj-seguro{
    text-decoration:none;	
    color: #333; 
    padding-left: 25%;
  }
  
  .abaj-servicio{
    text-decoration:none;	
    color: #333; 
  }
  .abaj-canales{
    text-decoration:none;	
    color: #333; 
    padding-left: 10%;
  }
  .abaj-wealth{
    text-decoration:none;	
    color: #333; 
    padding-left: 9%;
  }
  /*------------------------------------------------*/
  
  
  
  /*SLIDER*/
  .mySlides {display: none}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 180px;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }  	
  /*------------------------------------------------*/
  
  
  /*Segundad Seccion*/
  #sec2 {
    background-color: #d2dee4;
  }
  #arribaArt {
    padding-top:3%;
  padding-bottom:3%;
  text-align:center;
  }
  .par1{
    font-size: 20px;
    color: #333333;
  }
  
  
  
  .img{
    
  float:left;
  } 
  #p1{
    font-size: 20px;
    color: #000000;
  padding-top:1%;
  padding-left: 3%;
  margin: 0;
  }
  #p2{
    font-size: 18px;
    color: #666;
    padding-left: 4%;
  padding-top:4%;
  margin: 0;
  }  
  #p3{
    font-size: 18px;
    color: #666;
  padding-right: 24%;
  padding-top:2%;
  padding-bottom:4%;
  padding-left: 4%;
  margin: 0;
  }
  #boton6{
    border-radius: 8px 8px 8px 8px;
    color: #F00;
    background-color: #FFF;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 9%;
    padding-right: 9%;
    margin-left:12%;
  }
  
  
  #p4{
    font-size: 20px;
    color: #000000;
  padding-top:1%;
  padding-right: 46%;
  margin: 0;
  padding-left: 3%;
  }
  #p5{
    font-size: 18px;
    color: #666;
    padding-right: 10%;
  padding-top:4%;
  margin: 0;
  padding-left: 3%;
  }  
  #p6{
    font-size: 18px;
    color: #666;
  padding-right:4%;
  padding-top:2%;
  padding-bottom:4%;
  margin: 0;
  padding-left: 3%;
  } 
  #boton7{
    border-radius: 8px 8px 8px 8px;
    color: #F00;
    background-color: #FFF;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 9%;
    padding-right: 9%;
    margin-right:6%;
    margin-left: 18%;
  }
  
  
  #p7{
    font-size: 20px;
    color: #000000;
  padding-top:1%;
  padding-right:68%;
  margin: 0;
  padding-left: 3%;
  }
  #p8{
    font-size: 18px;
    color: #666;
    padding-right: 37%;
  padding-top:4%;
  margin: 0;
  padding-left: 3%;
  }  
  #p9{
    font-size: 18px;
    color: #666;
  padding-right:37%;
  padding-top:2%;
  padding-bottom:3%;
  margin: 0;
  padding-left: 3%;
  }     
  #boton8{
    border-radius: 8px 8px 8px 8px;
    color: #F00;
    background-color: #FFF;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 9%;
    padding-right: 9%;
    margin-left: 20%;
  }
  
  
  
  
  #divAbajo{
    margin-top: 5%;
  }
  
  #p10{
    font-size: 20px;
    color: #000000;
  padding-top:4%;
  margin: 0;
  padding-left: 5%;
  }
  #p11{
    font-size: 18px;
    color: #666;
  padding-left: 5%;
  padding-top:4%;
  margin: 0;
  }  
  #p12{
    font-size: 18px;
    color: #666;
  padding-right: 27%;
  padding-top:2%;
  padding-bottom:4%;
  margin: 0;
  padding-left: 5%;
  }	
  #boton9{
    border-radius: 8px 8px 8px 8px;
    color: #F00;
    background-color: #FFF;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 9%;
    padding-right: 9%;
    margin-left: 15%;
  }
  
  #p13{
    font-size: 20px;
    color: #000000;
  padding-top:4%;
  padding-right:35%;
  margin: 0;
  padding-left: 3%;
  }
  #p14{
    font-size: 18px;
    color: #666;
  padding-right: 33%;
  padding-top:4%;
  margin: 0;
  padding-left: 3%;
  }  
  #p15{
    font-size: 18px;
    color: #666;
  padding-right: 46%;
  padding-top:2%;
  padding-bottom:4%;
  margin: 0;
  padding-left: 3%;
  }
  #boton10{
    border-radius: 8px 8px 8px 8px;
    color: #F00;
    background-color: #FFF;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 9%;
    padding-right: 9%;
    margin-left: 20%;
  }
  
  #p16{
    font-size: 20px;
    color: #000000;
  padding-top:4%;
  padding-right:75%;
  margin: 0;
  padding-left: 3%;
  }
  #p17{
    font-size: 18px;
    color: #666;
  padding-right: 25%;
  padding-top:4%;
  margin: 0;
  padding-left: 3%;
  }  
  #p18{
    font-size: 18px;
    color: #666;
  padding-right: 32%;
  padding-top:2%;
  padding-bottom:4%;
  margin: 0;
  padding-left: 3%;
  }
  #boton11{
    border-radius: 8px 8px 8px 8px;
    color: #F00;
    background-color: #FFF;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 9%;
    padding-right: 9%;
    margin-right: 18%;
    margin-left: 20%;
  }