


<div style="text-align:center">

    <a routerLink="/paglibro">Página Libros</a> - 
    <a routerLink="/pagscotiabank">Página Scotiabank</a>

    <div>
      <router-outlet></router-outlet>
    </div>
</div>